.login {
    display: flex;

    margin: 278px;
}
.login img {
    margin-right: 200px;
}
.box {
    width: 500px;
    height: 577px;
    font-weight: 600;
    transform: translateY(80px);
}
.box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    transform: translateX(80px);
}
.box h4 {
    font-size: 15px;
    color: #999;
    margin-bottom: 60px;
    font-weight: 500;
    text-align: center;
    transform: translateX(-90px);
}


.box input {
    font-size: 15px;
    color: #616161;
    font-weight: 400;
    border: 1px solid #969696;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    line-height: 15px;
    padding-left: 40px;
    margin-bottom: 25px;
    outline: none;
    box-sizing: border-box;
    padding-left: 30px;
     transform: translateX(55px);
}


.box .log {
    cursor: pointer;
    border: none;
    background-color: #EEF6D9;
    display: flex;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    padding-left: 130px;
    padding-top: 10px;
    margin-top: 130px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #616161;

}



.box .log::after {
    position: absolute;
    content: '';
    display: block;
    background-color: #6d7d41;
    height: 2px;
    width: 450px;
    top: 410px;
    left: -70px;
}

.box li {
    margin-top: 14px;
    font-size: 15px;
    color: #666;
    font-weight: 500;
}

.box ul{
      transform: translateX(-50px);
}
.box ul li button {
    font-size: 12px;
    height: 25px;
    width: 90px;
    border-radius: 10px;
    border: none;
    color: #666;
    background-color: #EEF6D9;
    font-weight: 500;
}
.box .join {
    margin-left: 60px;
}
.box .id {
    width: 160px;
    height: 25px;
    margin-left: 40px;
}
