#wrap {
    width: 100%;
    box-sizing: border-box;
}

.inner {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 1770px;
}
#header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 110px;
    /* height: 400px; */
    overflow: hidden;
    transition: 0.4s linear;
    z-index: 103;
}
#header.on {
    height: 500px;
    background-color: #ffffff;
    opacity: 0.8;
}
#header::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 43px;
}
#header::after li {
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 110px;

    opacity: 0.8;
}
#header .nav.gnb > li {
    position: relative;
}

#header .nav.gnb > li::before {
    content: '';
    position: absolute;
    top: 110px;
    left: 0;
    width: 100vw;
    height: 300px;
    opacity: 0;
    transition: 0.3s;
}

#header .nav .gnb > li:hover {
    background: rgba(243, 255, 248, 0.8);
    opacity: 1;
    z-index: 200;
}

#header .inner {
    height: 130px;
}
#header h1 {
    width: 223px;
    height: 54px;
    justify-content: left;
    position: absolute;
    left: 0px;
    top: 0;
}
#header .nav {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#header .nav .gnb {
    display: flex;
}
#header .nav .gnb li a {
    display: inline-flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #a3a3a3;
    white-space: nowrap;
    text-align: center;
}
#header .nav .gnb li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#header .nav .gnb > li {
    margin-right: 40px;
}

#header .nav .gnb li ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #494949;
    position: relative;
    z-index: 999999;
}

#header .nav .gnb li ul li a:hover {
    color: #899d52;
}

#header .nav .gnb > li > a {
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    color: #a3a3a3;
    font-size: 20px;
    font-weight: 600;
    z-index: 9999;
    text-decoration: none;
}

#header .nav .gnb > li > a::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 25px;
    background-color: #899d52;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#header .nav .gnb > li > a:hover {
    color: #899d52;
}

#header .nav .gnb > li > a:hover::after {
    transform: scaleX(1);
}
#header .utill {
    display: flex;
    position: absolute;
    top: 65px;
    left: 1600px;
    background: #eef5da;
    width: 130px;
    height: 30px;
    border-radius: 10px;
}
#header .utill li {
    margin-right: 15px;
    margin: auto;
}
#header .utill i {
    font-size: 20px;
    font-weight: 300;
    color: #858585;
    margin-top: 5px;
}
#header .utill i:hover {
    color: #000;
}
#header .utill i:last-child {
    margin-right: 0;
}
/* Header */
#maintext {
    margin-top: 110px;
    animation: fadeInUp 2s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#maintext .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#maintext .inner .txt h2 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
}
#maintext .inner .txt h2::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 3px;
    top: 90px;
    background: #000000;
}
#maintext .inner .txt p {
    font-size: 16px;
    margin-top: 70px;
}
/* //header */
#visual {
    margin-top: 110px;
}
#visual .inner {
    width: 100%;
    background-image: url(/img/visual5-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 10;
}
#visual .inner::after {
    content: '';
    width: 100%;
    height: 300px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666666;
    opacity: 0.5;
    z-index: 1;
}
#visual .inner h2 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
    color: #ffffff;
    z-index: 100;
}
#visual .inner h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 90px;
    background: #ffffff;
}
#visual .inner p {
    font-size: 16px;
    margin-top: 70px;
    color: #ffffff;
    z-index: 100;
}
/* 버튼 */
#main-con2 {
    width: 100%;
}
#main-con2 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#main-con2 .inner .mainbtn {
}
#main-con2 .inner .mainbtn ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#main-con2 .inner .mainbtn ul li {
    display: flex;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #f5f5f5;
    border: 3px solid #e9e9e9;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* #main-con2 .inner .mainbtn ul li:hover {
    background-color: #ffffff;
    border: none;
    border-bottom: 3px solid #eae44c;
} */
#main-con2 .inner .mainbtn ul li.on {
    background-color: #ffffff;
    border: none;
    border-bottom: 3px solid #889c51;
}
#main-con2 .inner .mainbtn ul li span {
    font-size: 20px;
    font-weight: 600;
}

/* 버튼 끝*/
/* 검색 */
.search .inner {
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin-top: 100px;
}
.search .inner form input[type='text'] {
    font-size: 15px;
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    border: 3px solid #949494;
    border-radius: 10px;
    margin-right: 10px;
}
.search .inner form button[type='submit'] {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background: #889c51;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.search .inner form button[type='submit']:hover {
    background: #a5b769;
    color: #333333;
}

/* 검색끝 */

/* 증상별 */

#main-con1 {
    display: none;
}
#main-con1.on {
    display: block;
}
#main-con1 .inner {
    display: flex;
}

#main-con1 .inner .menu {
    display: flex;
    align-items: center;
}
#main-con1 .inner .menu ul {
    margin-top: 70px;
    padding-top: 40px;
    width: 200px;
    height: 500px;
    background: #889c51;
    border-radius: 30px;
    margin-left: 50px;
}
#main-con1 .inner .menu ul li {
    width: 200px;

    font-weight: 600;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
#main-con1 .inner .menu ul li:hover {
    width: 180px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: white;
    color: #000;
}
#main-con1 .inner .menu ul li.on {
    width: 180px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: white;
    color: #000;
}

#main-con1 .inner .boxes {
    flex: 1;
}
#main-con1 .inner .boxes ul:first-of-type {
    margin-top: 70px;
}
#main-con1 .inner .boxes ul {
    margin-left: 120px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
#main-con1 .inner .boxes ul li:first-of-type {
    margin-left: 0px;
}
#main-con1 .inner .boxes ul li {
    margin-left: 8px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background-color: white;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    overflow: hidden;
    animation-iteration-count: 1;
    cursor: pointer;
}
#main-con1 .inner .boxes ul li:hover img {
    transform: scale(1.2);
    transition: 0.3s ease;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#main-con1 .inner .boxes ul li strong {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* 건강티비 */
.main-con2 {
    display: block;
    display: none;
}
.main-con2.on {
    display: block;
}
.main-con2 .inner ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-con2 .inner ul li {
    width: 370px;
    height: 370px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 50px;
    overflow: hidden;
    animation: fadeInUp 1s ease-out forwards;
}
.main-con2 .inner ul li iframe {
    margin-top: 15px;
}
.main-con2 .inner ul li strong {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.main-con2 .inner ul li p {
    margin-top: 60px;
    text-align: right;
    font-weight: 10;
    margin-right: 20px;
}
.main-con2 .inner ul li {
}
.main-con2 .inner ul li:hover iframe {
    transform: scale(1.2);
    transition: 0.3s ease;
}
/* 건강버튼  */
#more1.on {
    display: block;
}
#more1 {
    margin-top: 20px;
    display: none;
}
#more1 .inner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#more1 .inner1 .btn1 {
}
#more1 .inner1 .btn1 button {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background: #899d52;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#more1 .inner1 .btn1 button:hover {
    background: #a5b769;
    color: #333333;
}

/* ------------------------------------ */

#main-con1-1 .inner .boxes ul li {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    margin-left: 30px;
    transition: transform 0.3s ease;
    transform-origin: center;
    cursor: pointer;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}
#main-con1-1 .inner .boxes ul li:hover {
    transform: scale(1.05);
}

#main-con1-1 .inner .boxes ul li img {
    width: 800px;
    height: 500px;
}
#main-con1-1 .inner .boxes .vision button {
    width: 50px;
    height: 50px;
    justify-content: space-between;
}
/* 더보기버튼 */
#more {
    margin-top: 20px;
}
#more .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#more .inner .btn {
}
#more .inner .btn button {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background: #899d52;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#more .inner .btn button:hover {
    background: #a5b769;
    color: #333333;
}

/* 모어버튼 */
/* footer */
#footer {
    width: 100%;
    height: 400px;
}
#footer .inner {
    box-sizing: border-box;
    position: relative;
    margin: auto;
}
#footer .footer1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}
#footer .inner .footer1 img {
    width: 295px;
    height: 103px;
}
#footer .inner .footer1 p {
    display: inline-block;
}
#footer .inner .footer1 p:first-of-type {
    text-align: right;
}
#footer .inner .footer1 p a:last-of-type {
    margin-right: 150px;
}
#footer .inner .footer1 p a {
    margin-right: 30px;
    display: inline-block;
    text-align: right;
}
#footer .inner .information {
    margin-top: 50px;
}

#footer .inner .information p {
    flex-direction: column;
    display: flex;
}
#footer .inner .information span {
    color: #666666;
    margin-top: 5px;
    font-size: 18px;
}
#footer .inner .information span:last-of-type {
    color: #999999;
    height: 100px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
}
#footer .inner .information img {
    width: 50px;
    position: absolute;
    top: 250px;
    left: 340px;
}
#footer .inner .family {
    text-align: right;
}
#footer .inner .family .title {
    display: inline-block;
    width: 150px;
    height: 30px;
    text-align: center;
    align-items: center;
    border: 3px solid #a7a7a7;
    border-radius: 10px;
    font-size: 15px;
}
/* //footer */
